#Old data
# This file is used to ignore files and directories that should not be tracked by Git.

goodreads_data_dictionary.csv
goodreads_reviews.csv
goodreads_works.csv

#Clean data
cleaned_goodreads_works.csv
cleaned_goodreads_reviews.csv

#TipsAndReadme
readtest.md
Maven_Book
Tips_Dashboard
# python libaries
requirements.txt